/**
 * Content
 */
#content {
	margin: 0 auto;
}

#content p {
	margin: 2rem 0 0 0;
}

#content ul.details {
	padding: 0;
	margin: 2rem 0;
	list-style: none;
}
#content ul.details li {
	font-size: 0.9rem;
	margin: 0.618em 0;
	display: flex;
	gap: 0.618em;
	align-items: flex-start;
}

#content h2 {
	margin: 4.854rem 0 1.618rem;
	color: $primary;
	font-size: 1.2rem;
}

#content a {
	color: $primary;
	text-decoration: underline rgba($primary, 0.3) dashed;
}

/**
 * Code
 */
#content pre {
	font-family: inherit;
	font-size: 0.9rem;
}

#content code {
	overflow: auto;
	font-family: inherit;
	tab-size: 4;
}

#content pre.prettyprint {
	background: #1c211f;
	border: none;
	padding: 1rem;
	margin: 2rem auto;
	overflow: auto;
	width: calc(100% + 2rem);
	position: relative;
	left: -1em;
}

#content pre.prettyprint .pln {
	color: rgba(255, 255, 255, 0.6);
}

#content pre.prettyprint .dec {
	color: #8039ac;
}

#content pre.prettyprint .tag,
#content pre.prettyprint .kwd {
	color: #39ac8c;
}

#content pre.prettyprint .atv,
#content pre.prettyprint .str {
	color: #3997ac;
}

#content pre.prettyprint .atn,
#content pre.prettyprint .typ {
	color: #ac7339;
}

#content pre.prettyprint .com {
	color: #4d635d;
}
#content pre.prettyprint a > .com {
	color: #6ca294;
}

#content pre.prettyprint .pun {
	color: #660;
}

#content pre.prettyprint .lit {
	color: #660;
}

.code-desc {
	margin: -1.8rem 0 2rem;
	display: flex;
	font-size: 0.8rem;
	justify-content: flex-end;
}

.first-content-line {
	margin: 2rem 0 0 0;
	white-space: pre-line;
}

#content ul.page-navigation {
	margin: -2rem 0 0 0;
	padding: 0;
	display: flex;
	gap: 1rem;
	list-style: none;
	white-space: nowrap;
	overflow: auto;
	word-spacing: -0.1rem;
}
#content ul.page-navigation li {
	font-size: 0.8em;
	margin: 0;
	cursor: pointer;
	color: $primary;
}
.upflanze-container {
	background-image: url(../images/png-background.png);
	background-position: center center;
	height: 0;
	overflow: hidden;
	width: 100%;
	will-change: height;
	text-align: center;
	transition: height 0.2s;
}
.upflanze-container canvas {
	height: 100% !important;
	width: auto !important;
}

.open-container {
	cursor: pointer;
}

.hierarchy {
	display: block;
	margin: 2rem auto;
}

.next-page {
	margin-top: 3rem;
	text-align: right;
}

blockquote {
	font-size: 0.7rem;
	text-align: right;
	margin: 2rem 0;
}
.first-block {
	white-space: pre-line;
}

/**
 * Repetition grid
 */
.repetition-grid {
	margin: 2rem 0;
	display: grid;
	grid-template-columns: 1fr 1.618fr;
	gap: 2rem;
}
