.example {
	&__iframe-container {
		width: 100%;
		background: #000;
	}

	&__iframe {
		border: 0;
		display: block;
		margin: 0 auto;
		width: 400px;
		height: 400px;
		max-width: 100%;
		overflow: auto;
	}

	&__links {
	}
}
