@font-face {
	font-family: 'JetBrains Mono';
	font-weight: normal;
	font-style: normal;
	src: url(assets/fonts/JetBrainsMono/JetBrainsMono-SemiLight.woff2) format('woff2');
}
@font-face {
	font-family: 'JetBrains Mono';
	font-weight: 600;
	font-style: normal;
	src: url(assets/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2) format('woff2');
}

::-webkit-scrollbar {
	width: 0.6182rem;
	height: 0.6182rem;
	background-color: #1e2422;
}

::-webkit-scrollbar-thumb {
	background: #2c3331;
	border-radius: 6px;
}

html,
input,
textarea,
button,
select {
	-webkit-font-feature-settings: 'liga' on, 'calt' on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'JetBrains Mono';
}

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	background: $dark;
	color: $textColor;
	line-height: 1.618;
	font-size: 16px;
	overflow-x: hidden;
}

main {
}

header {
	height: $headerHeight;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.6rem;

	a {
		text-decoration: none;
		color: inherit;
	}

	#version_string {
		display: inline-block;
		vertical-align: sub;
	}

	#logo {
		display: inline-block;
		vertical-align: middle;
		height: 1.2rem;
	}
}

.first-section {
	flex: 1;
}
.dynamic-container {
	flex: 4.2;
}
