/**
 * Mobile
 */
@media (max-width: 660px) {
	main {
		flex-direction: column;
	}
	#menu_btn {
		display: block;
	}

	header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 1000;
		background: $dark;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	}

	.dynamic-container {
		padding-top: 3.2rem;
	}

	aside {
		position: fixed;
		top: 0;
		right: -60%;
		width: 80%;
		height: 100%;
		z-index: 1000;
		opacity: 0;
		transition: all 0.3s;
		pointer-events: none;
	}
	aside.open {
		pointer-events: auto;
		right: 0;
		opacity: 1;
	}

	footer {
		border-left: 1px solid $dark-light;
		gap: 0.618rem;

		.follow > div {
			gap: 0.618rem;
		}
	}

	.aside-content {
		border-left: 1px solid $dark-light;
	}

	#aside-bg {
		width: 100vw;
		height: 100%;
		display: block;
		content: ' ';
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: -2;
	}
	#content {
		max-width: 100%;
		padding: 1rem;
	}

	#nav {
		max-height: calc(100% - #{$searchHeight});

		ul li {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.code-desc {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 0em;
	}

	.upflanze-container canvas {
		height: calc(100vw - 2rem) !important;
		width: calc(100vw - 2rem) !important;
	}

	.repetition-grid {
		grid-template-columns: 1fr;

		& > div:nth-child(1),
		& :nth-child(3) {
			order: 2;
		}
	}
}

/**
 * Desktop
 */
@media (min-width: 660px) {
	section.first-section {
		position: fixed;
		height: 100%;
		width: $asideWidth;
	}
	section.dynamic-container {
		margin-left: $asideWidth;
		width: calc(100% - $asideWidth);
	}

	header,
	aside {
		border-right: 1px solid $dark-light;
	}

	aside {
		height: calc(100% - #{$headerHeight});
	}

	#menu_btn {
		display: none;
	}

	.code-desc {
		gap: 0.8rem;
	}

	.hierarchy {
		max-width: 600px;
	}

	#nav {
		max-height: calc(100% - #{$searchHeight});
	}

	#content {
		max-width: 80%;
		padding: 1.618rem;

		ul.details {
			padding: 0 1rem;
		}
	}
}
