.reference {
}
.reference__list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.4);
}
.reference__list li + li {
	margin-top: 3rem;
}

.reference__property__name,
.reference__method__name {
	color: rgba(255, 255, 255, 0.8);
}
.reference__method__property_name {
	color: rgba(255, 255, 255, 0.8);
}
.reference__method__property_type {
}
.reference__method__return_type {
	color: #ac7339;
}
.reference__property__description,
.reference__method__description {
	margin: 0.618rem 0 0 0.618rem;
}

.reference__property__type,
.reference__method__property_name,
.reference__method__property_type,
.reference__property__default_value,
.reference__method__property_default_value,
.reference__method__return_type {
	font-size: 0.9rem;
}

h1.reference__name small {
	display: block;
}
h3.reference__constructor {
	margin: 0;
}
.reference__constructor__description {
	margin: 1rem 0 0;
	color: rgba(255, 255, 255, 0.4);
}
